@import 'colors';

/* ... */

.medium {
  font-weight: 500;
}

.font-ferry {
  font-family: "Ferry";
}

.full-width {
  width: 100%;
}

.border3 {
  border-width: 3px;
  border-style: solid;
}

.border-bold {
  border-width: 3px;
}

.border-btn {
  min-height: 4.5em;
  max-width: 20em;
  width: 15em;
  transition: all 0.1s ease-in;
}

.border-btn:hover {
  cursor: pointer;
}

.border-light-grey {
  border-color: $light-grey;
}

/* ... */

h1, h2, h3, h4, h5, h6 {
  & abbr {
    text-decoration: none;
    border-bottom: 1px dotted black;
  }
}
