@import 'colors';

/* ... */

h1 {
  @media (max-width: 568px) {
    font-size: 1.75rem;
  }
}

/* ... */

.default-links-nodeco a {
  color: #07c;
  text-decoration: none;
  transition: all 0.2s ease-out;

  &:hover, &:focus {
    text-decoration: underline;
  }

  &:visited {
    color: purple;
  }
}

.medium {
  font-weight: 500;
}

.font-ferry {
  font-family: "Ferry";
}

.full-width {
  width: 100%;
}

.border3 {
  border-width: 3px;
  border-style: solid;
}

.border-bold {
  border-width: 3px;
}

.border-dotted {
  border-style: dotted;
}

.border-dashed {
  border-style: dashed;
}

.border-btn {
  min-height: 4.5em;
  max-width: 20em;
  width: 15em;
  transition: all 0.1s ease-in;
}

.border-btn:hover {
  cursor: pointer;
}

.border-light-grey {
  border-color: $light-grey;
}

.bg-blue {
  filter: blur(25px)
}

/* ... */

abbr {
  text-decoration: none;
  border-bottom: 1px dotted black;
}
